<nav class="navbar navbar-expand-lg navbar-dark bg-dark no-print">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">⚙️ Scale Ticket System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button (click)="setView('tickets')" class="btn btn-link nav-link" [class.active]="currentView === 'tickets'">📋 Tickets</button>
        </li>
        <li class="nav-item">
          <button (click)="setView('create')" class="btn btn-link nav-link" [class.active]="currentView === 'create'">➕ Create Ticket</button>
        </li>
        <li class="nav-item">
          <button (click)="setView('tare')" class="btn btn-link nav-link" [class.active]="currentView === 'tare'">🔧 Update Tare</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid mt-4 no-print" *ngIf="currentView !== 'print'">
  <app-ticket-list *ngIf="currentView === 'tickets'"
    (printRequested)="onPrintRequested($event)"
    (editRequested)="onEditRequested($event)">
  </app-ticket-list>
  <app-ticket-entry *ngIf="currentView === 'create'"
    [editTicket]="editingTicket"
    (editDone)="setView('tickets')">
  </app-ticket-entry>
  <app-truck-tare *ngIf="currentView === 'tare'"></app-truck-tare>
</div>

<app-ticket-print
  *ngIf="currentView === 'print' && printTicketId"
  [ticketId]="printTicketId!"
  [mode]="printMode"
  (done)="setView('tickets')">
</app-ticket-print>
